body {
    background-color: gray;
}

.container {
    width: 1000px;
    background-color: white;
    margin: 0 auto;
}

.song-info {
    text-align: center; 
    font-size: 28px;
}

.lyrics {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}